:root {
  --color-primary: #00166c;
  --color-primary-light: #0077d9;
  --color-primary-lighter: #0092ff;
  --color-primary-dark: #003b7b;
  --color-primary-darker: #001f4d;

  --color-secondary: #09e1ac;

  --color-gray: #6c757d;
  --color-gray-light: #acafb2;
  --color-gray-lighter: #dadada;
  --color-gray-dark: #495057;
  --color-gray-darker: #343a40;
}
