@import "./_variables.scss";
@import "./custom.scss";

@import "tailwindcss";

body {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

* {
  
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;;
  color: var(--color-gray);
  font-style: normal;
  
}

ul li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-color: #C2C2C2;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}


